@import "bourbon"; // http://bourbon.io/

@import "../partials/variables"; // colors, fonts etc...

@import "../partials/mixins"; // custom mixins

@import "../partials/layout"; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

*::after,
*::before {
  content: "";
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-1;
  background-color: $color-3;

  &::after {
    /* overlay layer visible on small devices when the right panel slides in */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-1, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }

  &.cd-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  @include MQ(M) {
    &::after {
      display: none;
    }
  }
}

a {
  color: $color-2;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: $color-2;

  h1 {
    color: $color-5;
    @include font-smoothing;
    @include font-size(20px);
  }

  @include MQ(L) {
    height: 240px;
    line-height: 240px;

    h1 {
      @include font-size(36px);
      font-weight: 300;
    }
  }
}

.cd-faq {
  width: 90%;
  max-width: $L; // breakpoints inside partials > _layout.scss
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(#000, 0.1);
  @include clearfix;

  @include MQ(M) {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories {
  a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: $color-1;
    @include font-smoothing;
    color: $color-5;
    white-space: nowrap;
    border-bottom: 1px solid lighten($color-1, 3%);
    text-overflow: ellipsis;

    &::before,
    &::after {
      /* plus icon on the right */
      position: absolute;
      top: 50%;
      right: 16px;
      display: inline-block;
      height: 1px;
      width: 10px;
      background-color: lighten($color-1, 20%);
    }

    &::after {
      @include transform(rotate(90deg));
    }
  }

  li:last-child a {
    border-bottom: none;
  }

  @include MQ(M) {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(#000, 0.08);

    a {
      @include font-size(13px);
      font-weight: 600;
      padding-left: 24px;
      padding: 0 24px;
      @include transition(background 0.2s, padding 0.2s);

      &::before,
      &::after {
        display: none;
      }

      .no-touch &:hover {
        background: lighten($color-1, 3%);
      }
    }

    .no-js & {
      width: 100%;
      margin-bottom: 2em;
    }
  }

  @include MQ(L) {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;

    a::before {
      /* decorative rectangle on the left visible for the selected item */
      display: block;
      top: 0;
      right: auto;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-2;
      opacity: 0;
      @include transition(opacity 0.2s);
    }

    .selected {
      background: darken($color-1, 5%) !important;

      &::before {
        opacity: 1;
      }
    }

    &.is-fixed {
      /* top and left value assigned in jQuery */
      position: fixed;
    }

    .no-js & {
      position: relative;
    }
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: $color-5;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transform(translateZ(0) translateX(100%));
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;

  &.slide-in {
    @include transform(translateZ(0) translateX(0%));
  }

  .no-js & {
    position: static;
    height: auto;
    width: 100%;
    @include transform(translateX(0));
  }

  @include MQ(M) {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    @include transform(translateZ(0) translateX(0));
    padding: 0;
    background: transparent;
  }

  @include MQ(L) {
    float: none;
    width: 100%;
    padding-left: 220px;

    .no-js & {
      padding-left: 0;
    }
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  @include transform(translateZ(0));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transition(right 0.4s);

  &::before,
  &::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: $color-4;
  }

  &::before {
    @include transform(rotate(45deg));
  }

  &::after {
    @include transform(rotate(-45deg));
  }

  &.move-left {
    right: 2%;
  }

  @include MQ(M) {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
  display: none;

  &.selected {
    display: block;
  }

  .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;

    .no-touch &:hover {
      box-shadow: none;
    }

    h2 {
      text-transform: uppercase;
      @include font-size(12px);
      font-weight: 700;
      color: darken($color-3, 20%);
    }
  }

  .no-js & {
    display: block;
  }

  @include MQ(M) {
    /* all groups visible */
    display: block;

    > li {
      background: $color-5;
      margin-bottom: 6px;
      box-shadow: 0 1px 2px rgba(#000, 0.08);
      @include transition(box-shadow 0.2s);

      .no-touch &:hover {
        box-shadow: 0 1px 10px rgba($color-4, 0.3);
      }
    }

    .cd-faq-title {
      margin: 2em 0 1em;
    }

    &:first-child .cd-faq-title {
      margin-top: 0;
    }
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 0.4em;
  line-height: 1.2;

  @include MQ(M) {
    @include font-size(24px);
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;

    &::before,
    &::after {
      /* arrow icon on the right */
      position: absolute;
      right: 24px;
      top: 50%;
      height: 2px;
      width: 13px;
      background: lighten($color-2, 20%);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      @include transition-property(transform);
      @include transition-duration(0.2s);
    }

    &::before {
      @include transform(rotate(45deg));
      right: 32px;
    }

    &::after {
      @include transform(rotate(-45deg));
    }

    .content-visible &::before {
      @include transform(rotate(-45deg));
    }

    .content-visible &::after {
      @include transform(rotate(45deg));
    }
  }
}

.cd-faq-content {
  p {
    @include font-size(14px);
    line-height: 1.4;
    color: $color-4;
  }

  @include MQ(M) {
    display: none;
    padding: 0 24px 30px;

    p {
      line-height: 1.6;
    }

    .no-js & {
      display: block;
    }
  }
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: white;
}
input:-moz-placeholder {
  color: white;
}
input::-moz-placeholder {
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}

textarea::-webkit-input-placeholder {
  color: white;
}
textarea:-moz-placeholder {
  color: white;
}
textarea::-moz-placeholder {
  color: white;
}
textarea:-ms-input-placeholder {
  color: white;
}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: #4f90eb;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #e91e63;
  line-height: 1.5;
}
.txt1:hover {
  color: #e91e63;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.wrap-login100 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 30px 15px 30px;

  box-shadow: 0px 0px 30px #000;
  background-color: #00000054;

  /*background: -webkit-linear-gradient(top, #ffecc954,  #ffecc978);*/
}
.wrap-login100:hover {
  -webkit-box-shadow: 0px 0px 50px #333;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;

  box-shadow: 0px 0px 70px #000;
  background-color: #00000054;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: white;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: white;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: white;
  line-height: 1.2;

  display: white;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: white;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  /*color: #;*/
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 190px;
  height: 40px;
  border-radius: 10px;

  /*background: -webkit-linear-gradient(bottom, #0000069, #0000069);*/
  background-color: #e91e63;

  position: relative;
  /*z-index: 1;*/

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #a0b7dd;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: white;
}

.login100-form-btn:hover:before {
  opacity: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: black;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    /*opacity: ;*/
  }
}
