.error-msg {
  font-size: 16px;
  font-weight: normal;
  color: #f80000;
  text-transform: uppercase;
  margin: 8px auto;

  font-family: "Poppins-Regular";
  line-height: 1.5;
}
h3 {
  width: 100%;
  font-size: 22px;
  color: #e91e63;
  padding: 0 0 15px 0;
  text-align: center;
}
span.info {
  display: inline;
  width: 100%;
  font-size: 14px;
  color: #4e5052;
  padding: 0px;
  text-align: center;
}

label span {
  font-size: 12px;
  color: #4e5052;
  text-transform: uppercase;
}
.no-caps {
  text-transform: none !important;
}
