a.help-signin {
  position: absolute;
  font-size: 0.99em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0;
  right: 20px;
  top: 20px;
  float: right;
  width: 70px;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

a.help-signin:hover {
  background: rgba(255, 255, 255, 0.4);
}
.login-page {
  max-width: 1000px;
  /* padding: 8% 0 0; */
  margin: auto;
  height: 100vh;
}
/*.login-form {
  margin: auto;
  width: 65%;
}*/
.form {
  position: relative;
  z-index: 1;
  /*background: #fdfbfbe8;*/
  background: #fde2c9;
  margin: 50px auto 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 12px;
  opacity: 0.85;
  /*max-width: 450px;*/
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
  top: 70px;
  width: 360px;
  min-height: 460px;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 30px 15px 30px;
}
.form {
  box-shadow: 0px 0px 30px #000;
}
.form h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.form h2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 5px;
  /*background: -webkit-linear-gradient(to top, #eee, #fff);
  background: -moz-linear-gradient(to top, #eee, #fff);
  background: -o-linear-gradient(to top, #eee, #fff);
  background: linear-gradient(to top, #eee, #fff);*/
  color: #000;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  font-weight: 500;
  color: #fff;
  margin-top: 65px;
  margin-bottom: -110px;
  text-align: center;
  padding: 0 20px;
}

.for h4 a {
  color: #fff;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  background: #fff;
}

.form-fields {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

img {
  display: block;
  margin: auto;
  width: 50px;
  margin-top: -35px;
}

.branding {
  margin-top: -20px !important;
  display: block;
  width: 100%;
}
.branding img {
  margin-top: -20px !important;
}
.form input.upper {
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  /*background: #fff;*/
}

.form input.lower {
  /*border: 1px solid #f0f0f0;
  border-radius: 5px 5px 5px 5px;
  background: #fff;*/
}
.input {
  background: transparent !important;
}

h6 {
  padding: 20px;
  font-weight: 400;
  font-size: 10px;
}

.agreement_text {
  padding: 15px;
  font-size: 12px;
  font-weight: 600;
}
.user-input-wrp {
  position: relative;
  margin-top: 30px;
}
.user-input-wrp .form input.lower {
  width: 100%;
  outline: none;
  border: none;
  /*border-bottom: 1px solid #777;*/
  box-shadow: none !important;
}
.user-input-wrp input.lower:focus {
  /*border-color: #4a92da;*/
  border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
  font-size: 14px;
  transition: 0.2s ease-in;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: -0.5px;
  left: 0px;
  margin-top: 3px;
  font-size: 12px;
  opacity: 1;
}
.floating-label {
  color: white;
}

/* .form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #347ac1;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 45px;
  } */
.form button:hover,
.form button:active,
.form button:focus {
  background: #1a599900;
  border: 5px;
  border: 1px solid #00303d;
  color: #000;
  transition: 0.2s ease-in;
}
.form .message {
  margin: 15px 0 0;
  color: #347ac1;
  font-size: 12px;
}
.form .message a {
  color: #347ac1;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
.login-agree {
  font-size: 10pt;
  color: #887161;
}
.login-agree a {
  font-size: 10pt !important;
  color: #887161 !important;
}
